<nav class="navbar">
  <div class="logo">
    <img src="assets/logos/securcar-logo.png" alt="Logo">
  </div>

  <div class="navbar-links">
    <a routerLink="/login">Login</a>
    <a routerLink="/common-register">User Register</a>
    <a routerLink="/start">Main </a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/device-information">Device Info</a>
    <a routerLink="/vehicle-information">Vehicle Info</a>
    <a routerLink="/vehicle-tracking">Vehicle Tracking</a>
    <a routerLink="/vehicle-add">Vehicle Add</a>
  </div>
</nav>
