<div class="all-wrapper">

<mat-toolbar class="the-toolbar">
  <div class="toolbar-left">
    <mat-icon class="back-icon" aria-hidden="false" aria-label="Back Icon" (click)="onIconCLick()">arrow_back_ios</mat-icon>
    <span>Información de ABC-123</span>
  </div>

  <div class="toolbar-middle-space"></div>

  <div class="toolbar-right">
    <img class="account-shortcut" ngSrc="../../../../../assets/material-icons/account-icon.png" alt="account-icon" height="50" width="50"></div>
</mat-toolbar>
<section class="content">
  <div class="bck1">

    <div class="card1">
      <mat-card class="card">

        <mat-card-content class="cardefault">
          <div class="zonea">
            <img class="car-image"
                 src="assets/shared/examples/cars/silver-car.jpeg"
                 alt="Car Default"
            >


            <div class="sateliteimage">

              <div class="titlecontainer">
                <p>Nombre</p>
                <mat-divider></mat-divider>
                <p>Placa</p>
                <mat-divider></mat-divider>
                <p>Estado</p>
              </div>



              <div class="descriptioncontainer">
                <p>Carro</p>
                <mat-divider></mat-divider>
                <p>ABC-123</p>
                <mat-divider></mat-divider>
                <p>Seguro</p>
              </div>



            </div>

          </div>

          <div class="mapssection">
            <img class="maps" src="../../../../../assets/shared/examples/maps/map-2.png" alt="Maps">
          </div>

          <div class="phone">
            <button mat-icon-button class="buttonphone">
              <img class="phoneimage" src="../../../../../assets/material-icons/assistance-icon.png" alt="Phone">
            </button>

          </div>




        </mat-card-content>
      </mat-card>







    </div>
    <mat-tab-group class="tabgroup" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Estado Vehicular" class="tab1">
        <mat-list>
          <mat-list-item>Pepper</mat-list-item>
          <mat-list-item>Salt</mat-list-item>
          <mat-list-item>Paprika</mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Estado del dispositivo" class="tab1">Content 2</mat-tab>
      <mat-tab label="Compartir" class="tab1">Content 3</mat-tab>

    </mat-tab-group>



  </div>






</section>

</div>
