<div class="container">
  <img src="assets/map-example.png" height="280px" width="100%">
  <div class="mid-bar">
    <button>Vehiculos</button>
    <button>Dispositivos</button>
  </div>
  <div class="footer">
  <div class="left_side">
    <mat-card class="example-card">
      <div class="car_image">
        <img mat-card-image src="assets/silver_car.jpeg" width="295px" height="160px" class="car">
        <img src="assets/car_settings.png" width="40px" class="settings">
      </div>
      <mat-card-content class="content">
        <div >
          <p>ABC-123</p>
          <div class="car_info">
            <mat-icon style="color: green">radio_button_checked</mat-icon>Seguro
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <img src="assets/add_car.png" width="40px" height="40px" >
  </div>

    <div class="right_side">
  <img src="assets/assistance_button.png" width="40px" height="40px">
    </div>

  </div>

</div>
