<div class="container">
  <img src="../../../../../../assets/shared/examples/maps/map-1.png" height="280px" width="100%">
  <div class="mid-bar">
    <button>Vehiculos</button>
    <button>Dispositivos</button>
  </div>
  <div class="footer">
  <div class="left_side">
    <mat-card class="example-card">
      <div class="car_image">
        <img mat-card-image src="../../../../../../assets/shared/examples/cars/silver-car.jpeg" width="295px" height="160px" class="car">
      </div>
      <mat-card-content class="content">
        <div >
          <p>ABC-123</p>
          <div class="car_info">
            <mat-icon style="color: green">radio_button_checked</mat-icon>Seguro
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <img src="../../../../../../assets/material-icons/add-icon.png" width="40px" height="40px" >
  </div>

    <div class="right_side">
  <img src="../../../../../../assets/material-icons/assistance-icon.png" width="40px" height="40px">
    </div>

  </div>

  <mat-tab-group class="tabgroup" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Estado Vehicular" class="tab1">
      <mat-list>
        <mat-list-item>Pepper</mat-list-item>
        <mat-list-item>Salt</mat-list-item>
        <mat-list-item>Paprika</mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Estado del dispositivo" class="tab1">Estado En Linea</mat-tab>
    <mat-tab label="Compartir" class="tab1">Datos xxxxxx</mat-tab>

  </mat-tab-group>
</div>
