.top-bar {
  background-color: #3560FB;
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 25px;
  mat-icon{
    color: white;
    /*font-size: 30px;*/
    margin-right: 10px;
  }
}
.cuerpo{
  height: 90%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

}
.container{
  width: 100vw;
  height: 30%;
  border-radius: 10px;
  font-size:25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  width: 550px;
  text-align: center;
  margin-bottom: 10px;
}
mat-card:hover{
  cursor: pointer;
  background-color: #c4d0e6;
  transition: 0.5s ease;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button_register{
  padding: 10px 40px 10px 40px;
  background-color: #EEDFF2;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
}

.button_register:hover{
  background-color: #c4d0e6;
  transition: 0.5s ease;
}
.social{
  margin-top: 20px;
  display: flex;
  justify-content:space-evenly;
  img{
    margin: 0 10px;
    cursor: pointer;
  }
}
.footer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #EEDFF2;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
}
