<div class="header">
  <img src="assets/logo_nuevo.png" width="60px" height="60px">
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>person</mat-icon>
  </button>
</div>
<div class="mapa">
  <img src="assets/ubicacion.png" height="300px" width="100%">

  <div class="barra">
    <div class="info">
      <div >
        <button>Vehiculos</button>
        <button>Dispositivos</button>
      </div>
      <div class="search_bar">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>search</mat-icon>
        </button>
        <input placeholder="Buscar" style=" padding: 10px; width: 300px">
      </div>
    </div>
  </div>


</div>
<div class="options">

  <div class="tools">
    <div class="card">
      <img src="https://cdn.icon-icons.com/icons2/653/PNG/512/gps_navigation_pin_search_find_location_locate_icon-icons.com_59900.png" width="150px" height="150px">
      <p>Busqueda Rapida</p>
    </div>
    <div class="card">
      <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-gps-fixed_90046.png" width="150px" height="150px">
      <p>Compartir Ubicacion</p>
    </div>
  </div>

  <div class="email">
    <button mat-icon-button color="black" >
      <mat-icon>mail</mat-icon>
    </button>
    <span>Mensajes</span>
  </div>


</div>
