.header{
  width: 100%;
  background-color:#8388F2 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position:relative;

  mat-icon{
    color: black;
    font-size: 50px;
    padding: 20px;
    position: absolute;
    right:20px;
    bottom:7px
  }
}
.mapa{
  margin-bottom: 0;
}
.barra{
  margin-top: 0;
  background-color: #8388F2;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px ;
  box-sizing: border-box;
  .info{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button{
    background-color: #8388F2;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .search_bar{
    display: flex;
  }
}

.options{
  background-color: #6892F8;
  height: 300px;
  display: flex;
  position: relative;
  .tools{
    width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  .card{
    width: 250px;
    background-color: #D9D9D9;
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 20px;
    p{
      background-color:#AAAAAA;
      height: 30px;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      border-top:2px solid black;
      cursor: pointer;
    }
  }
  .email{
    height: 70px;
    display: flex;
    align-items: center;
    font-size:30px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    bottom:30px;
  }
}

