<div class="all-wrapper">

  <mat-toolbar class="the-toolbar">
    <div class="toolbar-left">
      <mat-icon class="back-icon" aria-hidden="false" aria-label="Back Icon" (click)="onIconCLick()">arrow_back_ios</mat-icon>
      <span>Agregar vehiculo</span>
    </div>

    <div class="toolbar-middle-space"></div>

    <div class="toolbar-right">
      <img class="account-shortcut" ngSrc="../../../../../../assets/material-icons/account-icon.png" alt="account-icon" height="50" width="50"></div>
  </mat-toolbar>

  <div class="container">
    <div class="content">
      <mat-card class="information-card">
        <mat-card-content>Completa la siguiente información para agregar un vehiculo nuevo. </mat-card-content>
      </mat-card>
    </div>

    <div class="form-section">
      <form>

        <label class="label-text">Nombre</label>
        <mat-form-field style="height: 70px; width: 400px; margin-top: 5px;">
          <input matInput placeholder="Ingresa el nombre" >
        </mat-form-field>

        <label class="label-text">Placa</label>
        <mat-form-field style="height: 70px; width: 400px; margin-top: 5px;">
          <input matInput placeholder="Ingresa la placa" >
        </mat-form-field>

        <label class="label-text">Marca</label>
        <mat-form-field style="height: 70px; width: 400px; margin-top: 5px;">
          <input matInput placeholder="Ingresa la marca" >
        </mat-form-field>

        <label class="label-text">Modelo</label>
        <mat-form-field style="height: 70px; width: 400px; margin-top: 5px;">
          <input matInput placeholder="Ingresa el modelo" >
        </mat-form-field>

        <label class="label-text">Color</label>
        <mat-form-field style="height: 70px; width: 400px; margin-top: 5px;">
          <input matInput placeholder="Ingresa el color" >
        </mat-form-field>

        <label class="label-text">Año</label>
        <mat-form-field style="height: 70px; width: 400px; margin-top: 5px;">
          <input matInput placeholder="Ingresa el año" >
        </mat-form-field>


      </form>

      <div class="button-section">
        <button mat-raised-button class="button_add" color="primary" (click)="onAddVehicleClick()">Agregar</button>
        <button mat-raised-button class="button_cancel" color="warn" (click)="onIconCLick()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
