<div class="n">
  <div class="p">
    <a href="https://www.facebook.com/" target="_blank">
      <img class="o" ngSrc="./assets/logos/facebook-logo.png" alt="Facebook" height="60" width="60">
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <img class="o" ngSrc="../../../../assets/logos/instagram-logo.webp" alt="Facebook" height="60" width="60">
    </a>
  </div>

  <div class="q">

  </div>

  <div class="contact-us">
    <img class="mail-icon" ngSrc="../../../../assets/material-icons/mail-icon.png" alt="Mail Icon" height="50" width="50">
    <div>Contáctenos</div>
  </div>
</div>
