<nav class="navbar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo">
  </div>
  <div class="navbar-links">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/main-screen">Main </a>
    <a href="/profile">Profile</a>
    <a href="/device-information">Device Info</a>
    <a href="/location-sharing">Location Sharing</a>
    <a href="/vehicle-information">Vehicle Info</a>
    <a href="/vehicle-tracking">Vehicle Tracking</a>
  </div>
</nav>
<router-outlet></router-outlet>

<!--<app-vehicle-tracking></app-vehicle-tracking>-->
