<mat-toolbar class="headercarinformation">
       <span class="backoption">  <img class="backoption" src="assets/backbutton.png" alt="Back Button">
        <h1 class="headertext">Información de: 'xxxxxxxxxxx'</h1>
        </span>
  <span class="SecondSection">
        <img class="returnProfile" src="assets/returnprofile.png" alt="Return Profile">
        <img class="return" src="assets/return.png" alt="Return">
      </span>
</mat-toolbar>
<section class="content">
  <div class="bck1">
    <div class="card1">
      <mat-card class="card">
        <mat-card-content class="cardefault">
          <div class="zonea">
            <img class="cardefaults" src="assets/satelitepng1.png" alt="Car Default">
            <p class="title">Nombre del dispositivo: 'Auto'</p>
            <button mat-stroked-button color="black" class="buttoncar">Ubicar</button>
            <div class="sateliteimage">
              <div><img class="sateliteimage" src="assets/ubicacion.png" alt="Satelite"></div>
              <div class="onlineform"><p>Dispositivo Encontrado</p>
                <p>Online</p>
              </div>
            </div>
          </div>
          <div class="mapssection">
            <img class="maps" src="assets/maps.png" alt="Maps">
          </div>
          <div class="iconmap">
            <img class="iconmap" src="assets/mapicon.png" alt="Icon Map">
            <button mat-stroked-button color="black" class="buttonsatelite">Compartir Ubicacion</button>
          </div>
          <div class="cuadro2">
            <img src="assets/usuario2.png" alt="Imagen 1" class="imagen">
            <textarea placeholder=""></textarea>
            <img src="assets/usuario2.png" alt="Imagen 2" class="imagen">
            <textarea placeholder2=""></textarea>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
