<div class="top-bar">
  <div class="startsection">
    <button mat-icon-button (click)="onIconCLick()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>Información de ABC-123</span>
  </div>


  <div class="endsection">
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
<section class="content">
  <div class="bck1">

    <div class="card1">
      <mat-card class="card">

        <mat-card-content class="cardefault">
          <div class="zonea">
            <img class="cardefaults" src="assets/cardeafult.png" alt="Car Default">



            <div class="sateliteimage">

              <div class="titlecontainer">
                <p>Nombre</p>
                <mat-divider></mat-divider>
                <p>Placa</p>
                <mat-divider></mat-divider>
                <p>Estado</p>
              </div>



              <div class="descriptioncontainer">
                <p>Carro</p>
                <mat-divider></mat-divider>
                <p>ABC-123</p>
                <mat-divider></mat-divider>
                <p>Seguro</p>
              </div>



            </div>

          </div>

          <div class="mapssection">
            <img class="maps" src="assets/maps.png" alt="Maps">
          </div>

        </mat-card-content>
      </mat-card>





    </div>
    <mat-tab-group class="tabgroup" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Estado Vehicular" class="tab1">
        <mat-list>
          <mat-list-item>Pepper</mat-list-item>
          <mat-list-item>Salt</mat-list-item>
          <mat-list-item>Paprika</mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Estado del dispositivo" class="tab1">Content 2</mat-tab>
      <mat-tab label="Amigos" class="tab1">Content 3</mat-tab>

    </mat-tab-group>

    <div class="iconmap">
      <img class="iconmap" src="assets/mapicon.png" alt="Icon Map">
      <button mat-stroked-button color="black" class="buttonsatelite">Compartir Ubicacion</button>
    </div>

  </div>






</section>

