<div class="a">
  <div class="b">
    <img
      class="login-banner"
      ngSrc="../../../../assets/backgrounds-and-banners/login-banner.png"
      alt="Login Banner"
      height="300" width="500"
    >
    <div class="c">
      <p class="d">Tu guardia vehicular siempre a tu disposición</p>
      <p class="e">Inicia sesión ahora para poder vigilar tu vehículo de forma fácil, sencilla, y en cualquier momento. Tu cuenta permite mucho más de lo que puedas imaginar para proteger tu vehículo. </p>
    </div>
  </div>
  <div class="f">
    <div class="g">
      <img class="h"
        ngSrc="../../../../assets/material-icons/person-icon.png"
        alt="Login Banner"
        height="40" width="40">
      <input class="i" matInput placeholder="Usuario">
    </div>
    <div class="g">
      <img class="h"
           ngSrc="../../../../assets/material-icons/lock-icon.png"
           alt="Login Banner"
           height="35" width="35">
      <input class="i" matInput placeholder="Contraseña" type="password">
    </div>
    <div class="j">
      <button class="k" mat-stroked-button (click)="onLoginClick()">Ingresar</button>
      <button class="k" mat-stroked-button (click)="onRegisterClick()">Registrar</button>
    </div>
    <div class="l">
      <button class="k m" mat-button>¿Olvidaste tu contraseña?</button>
    </div>
  </div>
</div>
