<mat-toolbar class="header">
  <span class="backoption"><img class="backoption" src="assets/backbutton.png" alt="Back Button">
        <h1 class="headertext">Perfil</h1>
  </span>
  <span class="SecondSection">
        <img class="returnProfile" src="assets/returnprofile.png" alt="Return Profile">
        <img class="return" src="assets/return.png" alt="Return">
  </span>
</mat-toolbar>
<div class="page">
  <div class="box">
    <div class="box3">
      <img src="/assets/driver.png" alt="driver" class="driver-profile" style="width: 300px; height: 300px">
    </div>

    <div class="box2">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form">
          <mat-form-field>
            <span>Usuario</span>
            <input matInput type="username" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <span>Correo Electronico</span>
            <input matInput type="email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <span>Contraseña</span>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>

  <div class="box5">
    <div class="tabgroup">
      <mat-tab-group>

        <mat-tab label="Estado Vehicular" class="tab1" >
          <mat-list class="list">
            <mat-list-item>Vehículos</mat-list-item>
            <mat-list-item>Dispositivos</mat-list-item>
            <mat-list-item>Amigos</mat-list-item>
          </mat-list>
        </mat-tab>

        <mat-tab label="Estado del dispositivo" class="tab1">Content 2</mat-tab>
        <mat-tab label="Amigos" class="tab1">Content 3</mat-tab>
      </mat-tab-group>
    </div>

    <div class="box4">
      <img class="add_user" src="/assets/add_user.png" style="width: 100px; height:100px" alt="Add user">
      <button mat-stroked-button color="black" class="buttonuser">Usar otra cuenta</button>
    </div>
  </div>
</div>
