.the-toolbar {
  background-color: #446DFF;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Product Sans", sans-serif;
  color: white;
  height: 5rem;
}
.toolbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-left: 1rem;

  font-size: 1.75rem;
}
.toolbar-middle-space {
  flex: 1 1 auto;
}
.toolbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-right: 1rem;
}
.back-icon {
  color: white;
  transform: scale(1.6);
  transition: background-color 150ms ease;
  border-radius: 2rem;
  padding: 0.4rem;
}
.back-icon:hover {
  cursor: pointer;
  background-color: #80A0FF;
}
.account-shortcut {
  transition: background-color 150ms ease;
  border-radius: 2.5rem;
  padding: 0.35rem;
}
.account-shortcut:hover {
  cursor: pointer;
  background-color: #80A0FF;
}



.content-section {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}
.device-information-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.device-image {
  background-color: white;
  padding: 0.25rem;
  border-radius: 99rem;
  box-sizing: border-box;
  border: 0.25rem solid #B6C2FF;
}
.map-image {
  border-radius: 3rem;
}
.share-button {
  border-radius: 99rem;
  font-family: "Product Sans", sans-serif;
  letter-spacing: 0.05rem;
  padding: 1.5rem 2rem;
  border-width: 0.15rem;
}
.share-icon {
  filter: brightness(0%);
}
.share-section {
  display: flex;
  gap: 1rem;
}
.device-information-wrapper {
  background-color: white;
  padding: 1rem 2rem 0;
  margin: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 2px solid #8E8E8E;
  width: 400px;

  font-size: 1.25rem;
  font-family: "Product Sans", sans-serif;
}

.holder {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.space {
  background-color: white;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}
