<mat-toolbar color="primary">
  <mat-icon>arrow_back</mat-icon>
  <span>Rastreo y ubicación</span>
  <span class="spacer"></span>
  <mat-icon>account_circle</mat-icon>
  <mat-icon>exit_to_app</mat-icon>
</mat-toolbar>

<div class="container">
  <div class="sidebar">
    <img src="assets/vehicle-foto.png" alt="Vehicle" class="vehicle-image">
    <div class="vehicle-details">
      <p>Placa: XXX-XXX</p>
      <p>Modelo: car1</p>
      <p>Nombre del vehículo: 'xxxxxxx'</p>
      <div style="display: flex; justify-content: center; align-items: center;" >
        <mat-icon style="color: green">radio_button_checked</mat-icon> Seguro
      </div>

      <div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 30px;  justify-content: space-evenly">
        <img src="https://static-00.iconduck.com/assets.00/gps-icon-2048x2046-a8jd6d82.png" style="width: 70px;">
        <div style="display: flex; flex-direction: column; justify-content: center" >
          <span>Dispositivo: "XXXXXXXX"</span>
          <div style="display: flex; align-items: center">
            <mat-icon style="color: green">radio_button_checked</mat-icon> Seguro
          </div>
        </div>
      </div>

      <button style="padding: 5px 100px; margin-bottom: 20px">Rastrear</button>

      <div style="display: flex; align-items: center">
        <img src="https://cdn-icons-png.flaticon.com/512/4120/4120467.png" width="150px">
        <button style="padding: 5px 50px; margin-bottom: 20px">Compartir Ubicacion</button>
      </div>

    </div>
  </div>

  <div class="right">

    <div class="image" style="margin-bottom: 30px" >
      <img src="/assets/map-example.png" width="900px" height="300px">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/012/042/292/small/warning-sign-icon-transparent-background-free-png.png" width="70px" class="warning1">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/012/042/292/small/warning-sign-icon-transparent-background-free-png.png" width="70px" class="warning2">
    </div>

    <div style="text-align: start; margin-left: 40px"  class="seguimiento">
      <mat-icon style="color: green">radio_button_checked</mat-icon> Seguimiento
    </div>

    <div class="buttons">
      <div>
        <button>Ubicar Puntos De Riesgo</button>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/012/042/292/small/warning-sign-icon-transparent-background-free-png.png" width="70px" class="warning2">
      </div>
      <div>
        <img src="https://c0.klipartz.com/pngpicture/135/8/gratis-png-iconos-de-la-computadora-del-microfono-microfono.png" width="50px">
        <button>Grabar audio de entorno</button>
      </div>

    </div>

    <div class="info_users">
      <div>
        <span>Informacion De Usuario #0000001</span>
        <mat-icon style="color: black">person</mat-icon>
      </div>
      <div>
        <span>Informacion De Usuario #0000002</span>
        <mat-icon style="color:black ">person</mat-icon>
      </div>
      <div>
        <span>Informacion De Usuario #0000003</span>
        <mat-icon style="color:black ">person</mat-icon>
      </div>

    </div>

  </div>

</div>


