<div class="holder">

  <mat-toolbar class="the-toolbar">
    <div class="toolbar-left">
      <mat-icon class="back-icon" aria-hidden="false" aria-label="Back Icon" (click)="onIconCLick()">arrow_back_ios</mat-icon>
      <span>Rastreo y Ubicación</span>
    </div>

    <div class="toolbar-middle-space"></div>

    <div class="toolbar-right">
      <img class="account-shortcut" src="./assets/material-icons/account-icon.png" alt="account-icon" height="50" width="50">
    </div>
  </mat-toolbar>

  <div class="content-section space">
    <div class="device-information-section">
      <img class="device-image"
           src="../../../assets/shared/examples/cars/silver-car.jpeg"
           alt="Device Image"
           height="250" width="250">

      <div class="device-information-wrapper">
        <div class="wrapper">
          <detail-label label="Nombre" information="Carro" [outlineWidth]="2"></detail-label>
          <detail-label label="Placa" information="ABC-123" [outlineWidth]="2"></detail-label>
          <detail-label label="Estado" information="Seguro"><span class="status-indicator"></span> </detail-label>

        </div>
      </div>
    </div>

    <div class="map-section">
      <img class="map-image"
           src="../../../assets/shared/examples/maps/map-1.png"
           alt="Map Image"
           height="557" width="909">

      <div class="buttons-section">
        <button class="custom-button" mat-stroked-button>
          <img class="button-icon" src="../../../assets/material-icons/locate-warning-icon.png" height="40" width="40" alt="locate">Ubicar puntos de riesgos
        </button>
        <button class="custom-button" mat-stroked-button>
          <img class="button-icon" src="../../../assets/material-icons/share-icon.png" height="40" width="40" alt="share">Compartir ubicación
        </button>
        <button class="custom-button" mat-stroked-button>
          <img class="button-icon" src="../../../assets/material-icons/mic-icon.png" height="40" width="40" alt="audio">Grabar audio de entorno
        </button>
      </div>
    </div>
  </div>

  <div class="additional-section">
    <h2>Ubicar puntos de riesgos</h2>
  </div>

  <button class="call-button">
    <img src="../../../assets/material-icons/call-icon.png" alt="call" class="call-icon">
  </button>

</div>
